body
{
    background-color: bisque;
}

.profile-picture
{
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 10%;
    height: auto;
    max-width: 200px;

    border-radius: 20%;
}
.profile-name
{
    text-shadow: 1in;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

.Links
{
    text-align: center;
    margin-top: 20px;
    border: 1px solid saddlebrown;
    border-width: 2px;
    padding: 10px;

    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 40px;
    font-size: 18;
}

a
{
    text-decoration: none;
    color:saddlebrown;
    transition: color 1s;
}

a:hover
{
    color: black;
    background-color: peru;
}
